.nav{
    margin-top: 10em;
    display: block;
}
.sidenav{
    background: #af3b2e;
    background: linear-gradient(0deg, #141414 0, #000000 100%);
    height: 100%;
    width: 80px;
    display: block;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.8);
    margin-right: 15px;
    transition: .5s cubic-bezier(.685, .0473, .346, 1);
}
.logo{
    position: relative;
    padding: 0.5rem 0.7rem;
    z-index: 4;
    display: flex;
}
.logo a.logo-mini{
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.logo:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100%-30px);
    background: rgba(255, 255, 255, 0.5);
}
.logo .simple-text{
    text-transform: uppercase;
    padding: 0.5rem 0;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
}
.logo-img img{
    width: 35px;
}
.nav li>a{
    margin: 10px 15px 0;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.8);
    width: 50px;
    display: block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 10px 15px;
    line-height: 1.5rem;
    transition: all .3s ease 0s;
}

.nav li> a i{
    width: 20px;
    margin-right: 10px;
    font-size: 1.125rem;
}

.nav li>a:hover, .nav li>a:hover i{

    transition: all .3s ease 0s;
}

.logo-img img:hover{
    cursor: pointer;
}

.logo-mini{
    margin: auto;
}

i{
    font-size: 1.3rem;
}
.mat-sidenav-content{
    background-color: #ffffff;
    margin-left: 60px;
    border-radius: 5px 0 0 5px;
}

.nav-list-item{
    transition: background-color 0.3s ease;
}

.nav-list-item:hover{
    background-color: #3434347a;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-list-item:hover i{
    color: rgb(28, 145, 90);
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-item-text{
    font-family: 'Nunito', sans-serif;
    margin-left: 1em;
    color: transparent;
    transition: color 0.6s ease;
}

.show-nav-item-text{
    color: rgba(255, 255, 255, 0.8);
}

.fa-nav-icon ::before{
    width: 21px !important;
}
