<div class="sidenav">
    <div class="logo">
        <a (click)="toggleMenuState()" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/sample_logo.png" alt="logo">
            </div>
        </a>
    </div>
    
    <ul class="nav">
        <li class="active nav-list-item"><a routerLink="/default-route"><i class="fa fa-dashboard fa-nav-icon"><span class="nav-item-text">Dashboard</span></i></a></li>
        <li class="nav-list-item"><a routerLink="/about"><i class="fa fa-group fa-nav-icon"><span class="nav-item-text">About</span></i></a></li>
        <li class="nav-list-item"><a routerLink="/charts"><i class="fa fa-line-chart fa-nav-icon"><span class="nav-item-text">Charts</span></i></a></li>
        <li class="nav-list-item"><a routerLink="/portfolio"><i class="fa fa-book fa-nav-icon"><span class="nav-item-text">Portfolio</span></i></a></li>
        <li class="nav-list-item"><a routerLink="/login"><i class="fa fa-user fa-nav-icon"><span class="nav-item-text">Login</span></i></a></li>
        <li class="nav-list-item"><a routerLink="/settings"><i class="fa fa-gear fa-nav-icon"><span class="nav-item-text">Settings</span></i></a></li>
    </ul>
</div>
